<h2 class="title is-2">Create an Account</h2>
<div class="box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, class: "input is-primary", placeholder: "Email..." %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", class: "input is-primary", placeholder: "Password..." %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "input is-primary", placeholder: "Password Confirmation..." %>
    </div>

    <div class="actions">
      <%= f.submit "Register", :class => "button is-primary" %>
    </div>
  <% end %>
</div>
